<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Cardo|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>My Travelling blog</title>
</head>
<body>
    <div class="container" id="main__container">
        <nav class="nav" id="nav__bar">
        </nav>
        <main id="main__articles">
            <article id="first__article">
            </article>

            <article id="second__article"> 
            </article>

            <article id="third__article">
            </article>

            <article id="fourth__article">   
            </article>
        </main>
    </div>
    <div id="modal_window" class="modal__overlay">
    </div>
    <script src="blog.js"></script>
</body>
</html>